@model IQueryable<BlogTemplate.Core.Models.Post>

@foreach (var post in Model)
{
    <div class="form-group">
        <h1 asp-for="Title">@post.Title</h1>
        <br />
        @if (post.Author != null)
        {
            <a class="text-info">@post.Author.Login</a>
        }
        <a class="text-info">@post.CreatedDate.ToShortDateString() @post.CreatedDate.ToShortTimeString()</a>
        <br />
        <p>@post.Content.Remove(255)...</p>
        <a class="text-md-left" asp-action="ShowPost" asp-controller="Post" asp-route-id="@post.Id">Читать далее...</a>
    </div>
}
