@model IQueryable<BlogTemplate.Core.Models.Post>
@inject BlogTemplate.Services.UserService userService

@{var user = await userService.GetCurrentUserAsync(); }

@foreach (var post in Model)
{
    <div class="form-group">
        <a class="h1 text-black-50" asp-for="Title" asp-action="ShowPost" asp-controller="Post" asp-route-id="@post.Id">@post.Title</a>
        <br />
        <a class="text-info">@post.CreatedDate.ToShortDateString() @post.CreatedDate.ToShortTimeString()</a>
        <br />
        <p>
            @{string shrinked = post.Content; }
            @if (post.Content.Length > 255)
            {
                shrinked = post.Content.Remove(255);
            }
            <a>@shrinked</a>
        </p>

        <a class="text-md-left" asp-action="ShowPost" asp-controller="Post" asp-route-id="@post.Id">Открыть пост</a>
    </div>
}
